
body{
    background-color: #014687;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #014687;
}
h1{
    padding-right: 900px;
    font-size: 50px;
}
.input{
    margin-top: 50px;
    margin-left: 40px;
    padding: 10px 80px;
    background-color: #fac17e;
}

.label{
    font-size: 15px;
    color: #ffffff;
}   

.form{
    
    font-size: 15px;
}
.button{
    padding: 7px 20px;
    margin: 7px 20px;
    /* background-color: #82bb26; */

}
