/* PAGINA INICIAL */

.menu{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#navfull{
    
    display: flex;
    list-style: none;
    font-size: 25px;
    column-gap: 20px;
    padding-bottom: 5px;
    

    
}
#navfull a{
    color: #fac17e;
    text-decoration: none;
    margin-bottom: 150px;
    
    
    
}
#navfull>a:hover{
    color:#ffffff;
    
    border: 1px ridge #ffffff;
    background-color: gray;
    border-width:  5px;
    
    
    
}
#logo{
    
    display: flex;
    justify-content: space-between;
}
.h1{
    text-align: center;
}
.text{
    font-size: 23px;
    color: #fac17e;
    margin-left: 120px;
}
.cursos{
    font-size: 20px;
    color: thistle;
    /* text-align: center; */
    list-style: none;
    margin-left: 120px;
}
.loc{
    font-size: 15px;
    color: #77d2f7;
}
.loc a{
    color: #fac17e;
    text-decoration: none;
    font-size: 20px;
}
.card2{
    margin-top: 100px ;
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    
    border:  1px solid grey;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px ;
    padding-bottom: 15px;
    padding-right: 85px ;
    background-color: #2db1e6;
    
    
}
.card h3 {
    font-size: 25px ;
    color: aqua;
}
.card p{
    color: white;
    font-size: 20px;
}
.card a{
    font-size: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: blue;
    padding: 8px;
    

}
























/* PAGINA 1 - MATRÃCULAS */
body{
    background-color: #014687;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #014687;
}
h1{
    padding-right: 900px;
    font-size: 50px;
    color: #ffffff;
}
.input{
    
    font-size: 20px;
    padding: 10px 80px; 
    background-color: #fac17e;
}

.label{
    font-size: 20px;
    color: #ffffff;
    
    
}   

.form{
    
    font-size: 15px;
}
.button{
    padding: 7px 20px; 
    margin-top: 40px ;
    margin-left: 30%;
    
    background-color: #82bb26; 
    


}
.button:hover{
    
    background-color: #77d2f7;
    
}
main{
    /* text-align: center; */
    margin: 20px 0px;
    display: grid;
    
    
}
.nome{
    margin-left: 30%;
    margin-top: 40px ;
}
.nascimento{
    margin-top: 40px ;
    margin-left: 30%
}
.quantidadepessoas{
    margin-top: 40px ;
    margin-left: 30%;
}
.quantidadesalario{
    margin-top: 40px;
    margin-left: 30%;
}
.contatos{
    font-size: 15px;
    color: beige;
    text-decoration: none;

}
.contatos>ul>li>a{
    color: #77d2f7;
}
.reserved{
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
}
.decisoes{
    font-size: 30px;
    margin-left: 30%;
    margin-right: 40%;
    margin-top: 20px;
    padding: 15px 15px;
    border: 2px solid;
    border-color: #82bb26;
    color: #ffffff;
    background-color: tomato;
    
    
    
}


