
body{
    background-color: #014687;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #014687;
}
h1{
    padding-right: 900px;
    font-size: 50px;
}
.input{
    
    
    padding: 10px 80px; 
    background-color: #fac17e;
}

.label{
    font-size: 15px;
    color: #ffffff;
    
    
}   

.form{
    
    font-size: 15px;
}
.button{
    padding: 7px 20px; 
    margin-top: 40px ;
    margin-left: 30%;
    
    background-color: #82bb26; 
    


}
.button:hover{
    
    background-color: #77d2f7;
    
}
main{
    /* text-align: center; */
    margin: 20px 0px;
    display: grid;
    
    
}
.nome{
    margin-left: 30%;
    margin-top: 40px ;
}
.nascimento{
    margin-top: 40px ;
    margin-left: 30%
}
.quantidadepessoas{
    margin-top: 40px ;
    margin-left: 30%;
}
.quantidadesalario{
    margin-top: 40px;
    margin-left: 30%;
}


